<html lang="en" >
   <head>
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
    a> .ng-href{
      text-decoration: none;
    }
    </style>
      <script language="javascript">
         angular
            .module('firstApplication', ['ngMaterial'])
            .controller('menubarController', menubarController);

         function menubarController ($scope, $mdDialog) {
            this.sampleAction = function(name, ev) {
               $mdDialog.show($mdDialog.alert()
                  .title(name)   
                  .textContent('Start learning "' + name + '!')
                  .ok('OK')
                  .targetEvent(ev)
               );
            };
         }                 
      </script>      
   </head>
   <body ng-app="firstApplication"> 
      <div id="menubarContainer" ng-controller="menubarController as ctrl" layout="row" ng-cloak>
         <md-toolbar class="md-menu-toolbar">
            <div layout="row">
               <div>
                  <md-menu-bar>
                      <button ng-click="$mdOpenMenu()" ><a ng-href="index.php">Home</a></button>
                      <md-menu>
                        <button ng-click="$mdOpenMenu()"><a ng-href="activites.php">Activit&eacute;s</a></button>
                        <md-menu-content>
                           <md-menu-item>
                              <md-button ng-click="ctrl.sampleAction('HTML5', $event)"><a  ng-href="#resultat.html"><span>R&eacute;sultat</span></a></md-button>
                              <md-button ng-click="ctrl.sampleAction('HTML5', $event)"><a ng-href="#horaires.html "><span>Horaires</span></a></md-button>
                              <md-button ng-click="ctrl.sampleAction('HTML5', $event)"><a  ng-href="#affiliez.html"><span>Affiliez-vous</span></a></md-button>
                              <md-button ng-click="ctrl.sampleAction('HTML5', $event)"><a class=""  ng-href="#entrainement.html"><span>Entrainement</span></a></md-button>
                              <md-button ng-click="ctrl.sampleAction('CSS', $event)"><a class="" ng-href="#conseils.html"><span>Conseils</span></a></md-button>    
                           </md-menu-item>
                        </md-menu-content>
                     </md-menu>
                      <md-menu>
                        <button ng-click="$mdOpenMenu()"><a ng-href="rctta.php">R.c.t.t.a</a></button>
                        <md-menu-content>
                           <md-menu-item>
                              <md-button ng-click="ctrl.sampleAction('HTML5', $event)"><a  ng-href="#competitions.html"><span>Historique</span></a></md-button>
                              <md-button ng-click="ctrl.sampleAction('HTML5', $event)"><a  ng-href="#resultat.html"><span>R&egrave;glement</span></a></md-button>
                              <md-button ng-click="ctrl.sampleAction('HTML5', $event)"><a   ng-href="#comite.html"><span>Comit&eacute;</span></a></md-button>
                              <md-button ng-click="ctrl.sampleAction('CSS', $event)"><a class="" ng-href="#regles.html"><span>R&egrave;gles</span></a></md-button>   
                           </md-menu-item>
                        </md-menu-content>
                     </md-menu>
                    <button ng-click="ctrl.sampleAction('HTML5', $event)"><a class="" ng-href="contact.php">Contact</a></button>                     
                  </md-menu-bar>
               </div>
            </div>
         </md-toolbar>       
     </div>
   </body>
</html>